
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'Request Details' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <section class="request-details" *ngIf="driverOrder">
    <ion-slides [pager]="driverOrder.order.items && driverOrder.order.items.length>1" dir="rtl">
      <ion-slide  *ngFor="let item of driverOrder.order.items">
      <img [src]="fillImgSrc(item.image)" alt="">
        <h3 class="product-title"><b>{{item.title}}</b></h3>
        <div class="info">
          <div>
            <span>{{'Quantity' | translate}}</span>
            <span>{{item.qty}}</span>
          </div>
          <div>
            <span>{{'Price' | translate}}</span>
            <span>{{item.price}} {{'SAR' | translate}}</span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="order-action" text-center>
      <p color="primary">
        {{'Pay On Delivery' | translate}}
      </p>
      <div class="total-cost">
        <span>{{'Total' | translate}}</span>
        <span>
          {{driverOrder.order.total}} {{'SAR' | translate}}
        </span>
      </div>
      <ng-template [ngIf]="!fromPop">
        <div class="btns" margin-top *ngIf="driverOrder.status == 'init' || driverOrder?.status == 'waiting'">
          <button ion-button round (click)="onClick('accepted')" >{{'التوصيل الان' | translate}}</button>
          <button ion-button round  (click)="onClick('waiting')" [hidden]="userData && (driverOrder?.status == 'waiting' || userData.isRestaurantDelegate)" >{{'التوصيل لاحقا' | translate}}</button>
          <button ion-button round outline color="danger"  (click)="onClick('refused')">{{'رفض' | translate}}</button>
        </div>
      </ng-template>
    </div>
  </section>
  <ng-template [ngIf]="!fromPop">

  <div class="reason" margin-vertical padding *ngIf="driverOrder?.status == 'returned' || driverOrder?.status == 'refused' || driverOrder?.status == 'canceled'">
    <p *ngIf="driverOrder.status == 'refused'" text-center class="first-refuse">
      تم رفض الطلب
    </p>

    <div *ngIf="driverOrder.status == 'canceled'|| driverOrder.status == 'returned'">
      <p *ngIf="driverOrder.status == 'canceled'"><b>سبب الالغاء</b></p>
      <p *ngIf="driverOrder.status == 'returned'"><b>سبب ارجاع الطلب</b></p>
      <p text-center>{{driverOrder?.comment || driverOrder.order?.comment}}</p>
    </div>
  </div>
  </ng-template>

  <ion-fab bottom right *ngIf="driverOrder?.status == 'accepted' || driverOrder?.status == 'waiting' || driverOrder?.status == 'completed' || driverOrder?.status == 'ongoing' || driverOrder?.status == 'processing'">
    <button ion-fab mini (click)="goToUserPage()">
      <img src="assets/imgs/map-pin.png" alt="">
    </button>
  </ion-fab>
</ion-content>
