page-request {

  ion-content {
    .request-details {
      padding-bottom: 32px;
    }
    .loc {
      display: flex;
      justify-content: center;
    }
    .total-cost {
      box-shadow: 2px 2px 10px #eee;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      width: 40%;
      font-size: 1.2rem;
      color: #999;
      padding: 4px;
      margin: auto;
      span {
        &:first-of-type {
          font-weight: bold;
        }
      }
    }
    .reason {
      box-shadow: 2px 2px 10px #eee;
      border-radius: 8px;
      .first-refuse {
        margin: 0;
      }
      
    }
    ion-slides {
      min-height: 313px;
      .swiper-pagination {
        bottom: -5px !important;
      }
      ion-slide {
        padding-bottom: 10px;
        img {
          border-radius: 8px;
          height: 150px;
          min-height: 150px;
          width: 100%;
          max-height: 180px !important;

          background: #eee;
        }

        .product-title {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-badge {
            transform: scale(0.9);
            background-color: rgba(68, 50, 121, .58) !important;
            
          }
        }
        .food-extra {
          @extend .total-cost;
          min-width: 40%;
          width: auto;
          max-width: 75%;     
          .has-images {
            img {
              width: 20px !important;
              height: 20px !important;
              max-height: 20px !important;
              min-height: 20px !important;
              transform: translateY(5px);
            }
          }
          p {
            margin-top: 5px;
            margin-bottom: 5px;
          }
          span {
            font-size: 1.2rem
          }
        }
        .info {
          display: flex;
          justify-content: space-between;
          padding: 8px 8px 16px;
          & > div {
            @extend .total-cost;
            margin: auto 0 ;
          }
        }
      }
    }
    ion-fab {
      button {
        img {
          transform: scale(.6);
        }
      }
    }
  }
}
