
<ion-header>
  <ion-navbar color="primary">
    <ion-title>#{{ driverOrder?.order?.id}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <section class="request-details" *ngIf="driverOrder">
    <ion-slides [pager]="driverOrder.order.items && driverOrder.order.items.length>1" dir="rtl">
      <ion-slide  *ngFor="let item of driverOrder.order.items">
      <img [src]="fillImgSrc(item.image)" alt="">
        <h3 class="product-title">
          <ion-badge color="secondary" *ngIf="item.serial">{{item.serial}}</ion-badge>
          <b>{{item.title}}</b>
        </h3>
        <div class="info">
          <div>
            <span>{{'Quantity' | translate}}</span>
            <span>{{item.qty}}</span>
          </div>
          <div>
            <span>{{'Price' | translate}}</span>
            <span>{{item.price | number:'.1-2'}} {{'SAR' | translate}}</span>
          </div>
        </div>
        <div class="food-extra" *ngIf="item.extra && item.extra.length">
            <span>{{'الاضافات' | translate}}</span>
            <ng-template [ngIf]="userData && userData.isRestaurantDelegate">
              <p *ngFor="let x of item.extra">
                <span>{{x.attribute}}</span> : 
                <span>{{x.value}}</span> {{'sar' | translate}}
              </p>
            </ng-template>
            <ng-template [ngIf]="userData && !userData.isRestaurantDelegate">
              <p *ngFor="let x of item.extra" class="has-images">
                <ng-template [ngIf]="isLinkUrl(x.value)">
                <span>{{'Color' | translate}}</span> : 
                <img [src]="x.value" alt="{{x.attribute}}">
              </ng-template>
              <ng-template [ngIf]="isNumber(x.value)">
                  <span>{{'Size' | translate}}</span> : 
                  <span>{{x.attribute}}</span>
                </ng-template>
              </p>
            </ng-template>
          </div>
      </ion-slide>
    </ion-slides>

    <section class="loc" *ngIf="driverOrder && driverOrder.order">
      <button ion-button round outline (click)="openCompanyLocation()">
        موقع الشركة
      </button>
      <button ion-button round outline [disabled]="driverOrder.type == 'shipment'" (click)="openOrderLocation()">
        {{driverOrder.type == 'shipment' ? 'الى : شركة موف' : 'موقع التوصيل'}}
      </button>

    </section>
  
    <div class="order-action" text-center>
      <p color="primary">
        طريقة الدفع : 
        {{driverOrder.order.online_payment ? 'دفع الكترونى' : 'دفع عند الاستلام' | translate}}
      </p>
      <div class="total-cost">
        <span>{{'Total' | translate}}</span>
        <span>
          {{driverOrder.order.total | number:'.1-2'}} {{'SAR' | translate}}
        </span>
      </div>
      <div class="order-type">
        <p>
          <ion-icon name="alert" color="primary"></ion-icon>  &nbsp;
          نوع الطلب</p>
        <p>{{driverOrder.type | translate}}</p> 
      </div>
      <ng-template [ngIf]="!fromPop">
        <div class="btns" margin-top *ngIf="driverOrder.status == 'init' || driverOrder?.status == 'waiting'">
          <button ion-button round (click)="onClick('accepted')" >{{'التوصيل الان' | translate}}</button>
          <!-- <button ion-button round  (click)="onClick('waiting')" [hidden]="userData && (driverOrder?.status == 'waiting' || userData.isRestaurantDelegate)" >{{'التوصيل لاحقا' | translate}}</button> -->
          <button ion-button round outline color="danger"  (click)="onClick('refused')">{{'رفض' | translate}}</button>
        </div>
      </ng-template>
    </div>
  </section>

  <ng-template [ngIf]="!fromPop">

  <div class="reason" margin-vertical padding *ngIf="driverOrder?.status == 'returned' || driverOrder?.status == 'refused' || driverOrder?.status == 'canceled'">
    <p *ngIf="driverOrder.status == 'refused'" text-center class="first-refuse">
      تم رفض الطلب
    </p>

    <div *ngIf="driverOrder.status == 'canceled'|| driverOrder.status == 'returned'">
      <p *ngIf="driverOrder.status == 'canceled'"><b>سبب الالغاء</b></p>
      <p *ngIf="driverOrder.status == 'returned'"><b>سبب ارجاع الطلب</b></p>
      <p text-center>{{driverOrder?.comment || driverOrder.order?.comment}}</p>
    </div>
  </div>
  </ng-template>

  <ion-fab bottom right *ngIf="driverOrder?.status == 'accepted' || driverOrder?.status == 'received' || driverOrder?.status == 'shipping' || driverOrder?.status == 'completed' || driverOrder?.status == 'ongoing' || driverOrder?.status == 'processing'">
    <button ion-fab mini (click)="goToUserPage()" [disabled]="!driverOrder.order.items">
      <img src="assets/imgs/map-pin.png" alt="">
    </button>
  </ion-fab>
</ion-content>
