
<ion-header>
  <ion-navbar>
    <ion-title>{{'Request Details' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <section class="request-details" *ngIf="driverOrder">
    <ion-slides pager="true" dir="rtl">
      <ion-slide  *ngFor="let item of driverOrder.order.items">
      <img [src]="'https://www.rawahi.com/'+ item.image" alt="">
        <h3 class="product-title"><b>{{item.title}}</b></h3>
        <div class="info">
          <div>
            <span>{{'Quantity' | translate}}</span>
            <span>{{item.qty}}</span>
          </div>
          <div>
            <span>{{'Price' | translate}}</span>
            <span>{{item.price}} {{'SAR' | translate}}</span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>

    <div class="order-action" text-center>
      <p color="primary">
        {{'Pay On Delivery' | translate}}
      </p>
      <div class="total-cost">
        <span>{{'Total' | translate}}</span>
        <span>
          {{driverOrder.order.total}} {{'SAR' | translate}}
        </span>
      </div>
      <div class="btns" margin-top>
        <button ion-button round (click)="onClick('accept')">{{'Deliver Now' | translate}}</button>
        <button ion-button round  (click)="onClick('await')">{{'Deliver Later' | translate}}</button>
        <button ion-button round outline color="danger" (click)="onClick('cancel')">{{'Cancel' | translate}}</button>
      </div>
    </div>
  </section>

  <ion-fab bottom right>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
