page-request {

  ion-content {
    .total-cost {
      box-shadow: 2px 2px 10px #eee;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      width: 40%;
      font-size: 1.2rem;
      color: #999;
      padding: 4px;
      margin: auto;
      span {
        &:first-of-type {
          font-weight: bold;
        }
      }
    }
    ion-slides {
      min-height: 313px;
      .swiper-pagination {
        bottom: -5px !important;
      }
      ion-slide {
        img {
          border-radius: 8px;
          height: 150px;
          min-height: 150px;
          max-height: 150px;

          background: #eee;
        }

        .product-title {
          margin-top: 5px;
        }

        .info {
          display: flex;
          justify-content: space-between;
          padding: 8px 8px 16px;

          & > div {
            @extend .total-cost;
            margin: auto 0 ;
          }
        }
      }
    }
    ion-fab {
      button {
        img {
          transform: scale(.6);
        }
      }
    }
  }
}
