page-login {

  .hero {
    background-image:  url(../assets/imgs/moovlogo.png),linear-gradient(45deg, $danger, $primary);
    height: 200px;
    background-position: center;
    background-size: 300px  auto, cover;
    background-repeat: no-repeat
  }

  .create-account {
    display: flex;
    flex-direction: column;
  }

  form {
    padding: 26px;
    .form-group {
      width: 42px;
      animation: fill .7s ease-in-out;
      animation-fill-mode: forwards;
      &:nth-of-type(2) {
        animation-delay: .2s
      }
    }

    .submit-button {
      margin-top: 40px;
      button {
        height: 40px !important;
      }
    }
    @keyframes fill {
      from {
        width: 42px;
      }
      to {
        width: 100%;
      }
    }


  }
  .container {
    margin-top: $container-margin-top;

    h3 {
      padding: 0 12px;
    }
  }

  .app-bg-btn {
    &.loading {
      .button-inner {
        width: 100%;
        justify-content: space-between;
        * {
          transition: all 0.2s linear;
        }
      }
    }
  }
  .login-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    margin-top: -8px;

    .remember-me {
      display: flex;
      align-items: center;
      label {
        display: inline-block;
        margin: 0 4px;
      }
    }
  }
}
