page-refusemsg {
    ion-content {
        &.content {
            background-color:  rgba(0,0,0,0.2);
        }
        .scroll-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pop-content {
            background-color: #fff;
            padding: 16px;
            width: 80%;
            border-radius: 10px;

            ion-textarea {
                border: 1px solid #eee;
                margin-bottom: 20px;
                border-radius: 6px;
            }
        }
    }
}
