<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630114166965-kn0t8mb34q0ondo4rseus7j1o0368c71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630114166965-kn0t8mb34q0ondo4rseus7j1o0368c71</string>
	<key>API_KEY</key>
	<string>AIzaSyDxeDnAU1MLgfD8M6E29m3jUe7dgTGtut0</string>
	<key>GCM_SENDER_ID</key>
	<string>630114166965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moove.deliverydriver</string>
	<key>PROJECT_ID</key>
	<string>moov-user-cd771</string>
	<key>STORAGE_BUCKET</key>
	<string>moov-user-cd771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630114166965:ios:d89792d189178bf6</string>
	<key>DATABASE_URL</key>
	<string>https://moov-user-cd771.firebaseio.com</string>
</dict>
</plist>