ث
<ion-content no-padding>
  <section class="top-buttons">
    <button ion-button clear icon-only navPop>
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </button>
  </section>
  
  <section class="avatar-section">
    <div class="avatar" *ngIf="userData" (click)="onClick()">
      <img [src]="fillImgSrc(userData?.photo)" alt="">
    </div>
    <h2>{{userData?.userName}}</h2>
    <p>{{userData?.phoneNumber}}</p>
  </section>

  <div class="info-section">
    <ion-list no-lines no-margin>
      <ion-item>
        <ion-label>
        {{'الشركة التابع لها'|translate}}
      </ion-label>
        <ion-label>
          {{userData?.logistic_company_service.company?.name}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          {{'الرقم القومى'|translate}}
        </ion-label>
        <ion-label>
          {{userData?.nationalId}}
        </ion-label>
      </ion-item>

      <ion-item *ngIf="userData && userData.age != '0'">
        <ion-label>
          {{'العمر'|translate}}
        </ion-label>
        <ion-label>
          {{userData?.age}}
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-label>
            {{'الخدمة'|translate}}
          </ion-label>
          <ion-label>
            {{userData?.logistic_company_service?.service?.name}}
          </ion-label>
        </ion-item>
      <ion-item>
        <ion-label>
          {{'الحالة'|translate}}
        </ion-label>
        <ion-label>
          {{userData?.active == 1 ?"مفعل": "معطل من قبل الشركة"}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          {{'Total Orders'|translate}}
        </ion-label>
        <ion-label *ngIf="userData && userData.order_count">
          {{userData?.order_count}}
          &nbsp;
          {{userData?.order_count>2?'طلبات':'طلب' | translate}}
        </ion-label>
        <ion-label *ngIf="userData && (!userData.order_count || userData.order_count == 0)">
          لا يوجد طلبات
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-textarea *ngIf="userData" [value]="userData.player_id"></ion-textarea>

  </div>

</ion-content>
