<ion-content padding>
  <!-- [exclude]="'button'" (clickOutside)="dismiss()" -->
  <section class="pop-content" [exclude]="'button, ion-item, ion-list'" (clickOutside)="dismiss()">
    <ng-template [ngIf]="driverOrder">

      <div class="item company-title">
        <img [src]="fillImgSrc(driverOrder.order.items[0].image)" alt="">
        <p>
          طلب جديد من شركة
          {{driverOrder.order.company.name}}
        </p>
      </div>
      <p class="phone-num">
          <button ion-button small clear icon-only (click)="dialNumber(driverOrder.order.company.phone)">
            <ion-icon name="call"></ion-icon>
          </button>
          {{driverOrder.order.company.phone}}
        </p>
      <div class="item  order-owner">
        <img [src]="fillImgSrc(driverOrder.order.user.logo)" alt="">
        <p>{{driverOrder.order.user.name}}</p>
      </div>
      <div class="body" text-center>
          <p *ngIf="userData">
              <span>المسافة المتوقعة للشركة</span> :
              <span>
                {{estimateDistance(driverOrder.order.company.lat, driverOrder.order.company.long )}} 
              </span>
            </p>
        <p>
            طريقة الدفع : 
            {{driverOrder.order.online_payment ? 'دفع الكترونى' : 'دفع عند الاستلام'}}
        </p>

        <button ion-button large outline round (click)="goToRequestPage(driverOrder, {fromPop: true})">
          تفاصيل الطلب
        </button>

      </div>

      <p text-center *ngIf="driverOrder.status && (driverOrder.status == 'refused' || driverOrder.status == 'canceled')">
        تم تحويل الطلب الى مندوب اخر
      </p>

      <p text-center *ngIf="driverOrder.status && (driverOrder.status == 'accepted' || driverOrder.status == 'proccessing' || driverOrder.status == 'ongoing' || driverOrder.status == 'recieved')">
        تم الاستلام
      </p>

      <div class="actions" *ngIf="driverOrder.status == 'init'">
        <div class="top">
          <button ion-button round (click)="onClick('accept')">
            التوصيل الان
          </button>
          <button ion-button round (click)="onClick('await')" [hidden]="userData.isRestaurantDelegate">
            التوصيل لاحقا
          </button>
        </div>

        <div text-center [hidden]="userData.isRestaurantDelegate">
          <button ion-button round outline color="danger" (click)="onClick('cancel')">
            رفض
          </button>
        </div>
      </div>
      <!-- <p text-center *ngIf="!countIsOver">
        {{counter.getSeconds()<10?'0':''}}{{counter.getSeconds()}} : {{counter.getMinutes()<10?'0':''}}{{counter.getMinutes()}}
      </p> -->

    </ng-template>

    <ng-template [ngIf]="!driverOrder">
      <div class="loader">
        <ion-spinner></ion-spinner>
      </div>
    </ng-template>
  </section>

  <div class="fixed-btn">
    <button ion-button icon-only clear id="notifySound">
      <ion-icon name="volume"></ion-icon>
    </button>
  </div>
</ion-content>
