
<ion-header>
  <ion-navbar color="primary">
    <ion-title [ngSwitch]="pageStatus">
        <span *ngSwitchCase="'waiting'">{{'الطلبات المؤجلة'| translate}}</span>
        <span *ngSwitchCase="'completed'">{{'الطلبات المكتملة'| translate}}</span>
        <span *ngSwitchCase="'canceled'">{{'الطلبات المرفوضة'| translate}}</span>
        <span *ngSwitchCase="'returned'">{{'الطلبات المرتجعة'| translate}}</span>
        <span *ngSwitchCase="'delayed'">{{'الطلبات المحولة'| translate}}</span>

    </ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content no-padding>
    <ion-item no-lines class="toolbar-toggle" *ngIf="userData">
      <ion-label>
        {{'تفعيل استقبال الطلبات' | translate}}        
      </ion-label>
      <ion-toggle [(ngModel)]='!!userData.availability' (ionChange)="onToggleChange($event)"></ion-toggle>
    </ion-item>
    <div class="no-requests" *ngIf="!allRequests||(allRequests&&!allRequests.length)">
      <img src="assets/imgs/planning.png" alt="">
      <p *ngIf="!allRequests">
        {{'الطلبات فى طريقها اليك, استعد!' | translate}}
      </p>
      <p text-center *ngIf="allRequests && !allRequests.length" [ngSwitch]="pageStatus">
        <span *ngSwitchCase="'waiting'">{{'لا يوجد طلبات مؤجلة' | translate}}</span>
        <span *ngSwitchCase="'completed'">{{'لا يوجد طلبات مكتملة' | translate}}</span>
        <span *ngSwitchCase="'canceled'">{{'لا يوجد طلبات مرفوضة' | translate}}</span>
        <span *ngSwitchCase="'returned'">{{'لا يوجد طلبات مرتجعة' | translate}}</span>
        <span *ngSwitchCase="'delayed'">{{'لا يوجد طلبات محولة' | translate}}</span>
      </p>
    </div>

    <ion-list margin *ngFor="let request of allRequests">
      <ng-template [ngIf]="request.order.first_item"> <!-- Add Check to requests that does not have details  -->
        <driver-request [request]="request" (click)="goToRequestPage(request)"></driver-request>
      </ng-template>
    </ion-list>
    
  </ion-content>
