<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span
        *ngIf="orderStatus == 'accepted' || orderStatus == 'waiting'|| orderStatus == 'processing' && driverOrder?.status != 'ongoing'">
        الشركة
      </span>
      <span
        *ngIf="driverOrder?.status == 'ongoing' || orderStatus == 'ongoing' || orderStatus == 'completed' || orderStatus == 'received'">
        العميل
      </span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ng-template
    [ngIf]="driverOrder && driverOrder.company && (orderStatus == 'accepted' || orderStatus == 'waiting' || orderStatus == 'processing')">


    <section class="avatar-section">
      <div class="avatar">
        <img [src]="fillImgSrc(driverOrder.company.logo)" alt="">
      </div>
      <h2>{{driverOrder.company.name}}</h2>
      <div class="phone-num">
        <div *ngIf="userData" class="price-list">
          <p>
            <span>رقم الطلب</span>:
            <span>{{driverOrder?.id}} </span>
          </p>
          <p>
            <span>طريقة الدفع</span>:
            <span>{{driverOrder.online_payment ? 'دفع الكترونى' : 'دفع عند الاستلام'}}</span>
          </p>
        </div>
        <br>
        <div class="phone div-splitter" (click)="dialNumber(driverOrder.company.phone)">
          <button ion-button small clear icon-only>
            <ion-icon name="call"></ion-icon>
          </button>
          {{driverOrder.company.phone}}
        </div>
        <span>
          برجاء التواصل مع المتجر مسبقا لتجهيز الطلب
        </span>
      </div>
      <div class="notify-msg">
        <ng-template [ngIf]="!driverOrder.online_payment">
          <div *ngIf="userData" class="price-list">
            <p>
              <span>سعر المنتج
                <div class="info"> شامل القيمة المضافة</div>
              </span>:
              <span>{{driverOrder.original_total | number:'.1-2'}} ريال</span>
            </p>
            <p *ngIf="driverOrder.moov_coupon">
              <span>الخصم المقدم من موف</span>:
              <span>{{driverOrder.moov_coupon.amount | number:'.1-2'}} ريال</span>
            </p>
            <br>
            <div class="div-splitter"></div>
          </div>
          <div *ngIf="!driverOrder.moov_coupon || (driverOrder.moov_coupon && driverOrder.moov_coupon.amount < driverOrder.original_total)" [class.div-splitter]="driverOrder.moov_coupon && driverOrder.moov_coupon.amount != 0 && driverOrder.moov_coupon.amount < driverOrder.original_total ">
            <ion-icon color="danger" name="alert"></ion-icon>
            يرجى دفع مبلغ 
            <b>
              {{driverOrder.company_total | number:'.1-2'}}
              {{'SAR' | translate}}
            </b>
            الى شركة
            {{driverOrder.company.name}}
            <br>
          </div>
        </ng-template>


        <div class="price-list" [class.div-splitter]="driverOrder.moov_coupon && driverOrder.moov_coupon.amount >= driverOrder.original_total " *ngIf="userData">
          <p>
            <span>المسافة المتوقعة</span>:
            <span>
              {{estimateDistance( driverOrder.company.lat, driverOrder.company.long ) }}
            </span>
          </p>
        </div>
      </div>

    </section>


    <div class="actions">
      <div text-center>
        <button ion-button round [hidden]="orderStatus == 'waiting'" (click)="openCompanyLocation()">
          ابدأ رحلتك الان لاستلام الطلب
        </button>
      </div>
      <div text-center [hidden]="orderStatus == 'waiting'">
        <button ion-button outline round (click)="onReceiving()">
          تم الاستلام
        </button>
        <button ion-button outline color="danger" round (click)="showModal()">
          الغاء
        </button>
      </div>
    </div>

  </ng-template>


  <ng-template
    [ngIf]="requestUser && orderStatus != 'accepted' &&  orderStatus != 'waiting' &&  orderStatus != 'processing'  && (driverOrder?.status == 'ongoing' || orderStatus == 'ongoing' ||  orderStatus == 'received' || orderStatus == 'completed')">

    <section class="avatar-section">
      <div class="avatar">
        <img [src]="fillImgSrc(requestUser?.logo)" alt="">
      </div>
      <h2>{{requestUser?.name}}</h2>
      <div class="phone-num">
        <div *ngIf="userData" class="price-list">
          <p>
            <span>رقم الطلب</span>:
            <span>{{driverOrder?.id}} </span>
          </p>
          <p>
            <span>طريقة الدفع</span>:
            <span>{{driverOrder.online_payment ? 'دفع الكترونى' : 'دفع عند الاستلام'}}</span>
          </p>
        </div>
        <br>
        <div class="phone div-splitter" (click)="dialNumber(requestUser.phone)" *ngIf="requestUser">
          <button ion-button small clear icon-only>
            <ion-icon name="call"></ion-icon>
          </button>
          <span dir="ltr">{{requestUser?.phone}}</span>
        </div>
      </div>
      <div *ngIf="userData" class="notify-msg">
        <ng-template [ngIf]="!driverOrder.online_payment">
          <ion-icon color="danger" name="alert"></ion-icon>
          يرجى استلام مبلغ
          <b>
            {{driverOrder.user_total | number:'.1-2'}}
          </b>
          ريال
          من
          {{requestUser.name}}
        </ng-template>
        <br>
        <div class="price-list" *ngIf="userData">
          <p>
            <span>المسافة المتوقعة</span>:
            <span>
              {{estimateDistance(driverOrder.lat, driverOrder.lng )}}
            </span>
          </p>
        </div>
      </div>

      <div *ngIf="userData" class="notify-msg price-list">
        <ion-icon color="danger" name="alert"></ion-icon>

        <p>
          <span>سعر المنتج
            <div class="info"> شامل القيمة المضافة</div>
          </span>:
          <span>{{driverOrder.original_total | number:'.1-2'}} ريال</span>
        </p>
        <p *ngIf="driverOrder.moov_coupon">
          <span>الخصم المقدم من موف</span>:
          <span>{{driverOrder.moov_coupon.amount | number:'.1-2'}} ريال</span>
        </p>
        <p>
          <span>قيمة التوصيل</span>:
          <span>{{driverOrder.delivery_cost | number:'.1-2'}} ريال</span>
        </p>
        <p>
          <span>الاجمالى</span>:
          <span>
            {{driverOrder.user_total | number:'.1-2'}}
            ريال
          </span>
        </p>
      </div>

    </section>

    <div class="actions" *ngIf="orderStatus != 'completed'">
      <div text-center>
        <button ion-button round (click)="openOrderLocation()">
          ابدأ رحلتك الان لتوصيل الطلب
        </button>
      </div>
      <div text-center>
        <button ion-button outline round color="danger" (click)="onReturned()" [hidden]="orderStatus == 'waiting'">
          ارجاع
        </button>
        <button ion-button outline round (click)="onDeliver()" [hidden]="orderStatus == 'waiting'">
          تم التوصيل
        </button>
      </div>

      <!-- TODO: may add rating to the delivery trip -->
      <div class="action" *ngIf="orderStatus == 'completed'">
        تم التوصيل
      </div>
    </div>
  </ng-template>
</ion-content>