page-requests {
    .toolbar-toggle {
        box-shadow: 1px 1px 7px #ccc;
    }
    ion-toggle {
        .toggle-icon {
            background-color: #fbc2c2 !important;
            .toggle-inner {
                background-color: #ef120b !important;

            }
        }
        &.toggle-checked {
            .toggle-icon {
                background-color: #c4f4c3 !important;
                .toggle-inner {
                    background-color: #0bcc31 !important;

                }
            }
        }
    }

    .text-small {
        font-size: 1.2rem;
        ion-label {
            display: flex;
            align-items: center;
            justify-content: space-between
        }
    }
    ion-content {
        .scroll-content {
            border-top: none !important;
        }
        
        ion-content {
            transform: translateY(6px)
        }
        .requests-states {
            box-shadow: 1px 1px 7px #ccc;
            button {
                width: 50%;
                margin: 0 !important;
                border-bottom: 2px solid $primary;
                border-radius: 0 !important;
            }
        }

        .no-requests {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}
