<ion-header>
  <ion-navbar color="primary">
    <button ion-button clear icon-only menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title>{{'الطلبات' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>



  <ion-item no-lines *ngIf="userData" class="toolbar-toggle">
    <ion-label>
      {{'تفعيل استقبال الطلبات' | translate}}
    </ion-label>
    <ion-toggle [(ngModel)]='!!userData.availability' (ionChange)="onToggleChange($event)"></ion-toggle>
  </ion-item>

  <ion-refresher (ionRefresh)="onRefresh($event)" *ngIf="(!requests||(requests&&!requests.length) )">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="requests-states" hidden>
    <button ion-button clear (click)="showPopOver($event)">
      <b>{{'حالة الطلب' | translate}}</b>
    </button>
  </section>


  <div class="no-requests" *ngIf="(!requests||(requests&&!requests.length) ) && !isFiltering">
    <img src="assets/imgs/planning.png" alt="">
    <p>
      {{'الطلبات فى طريقها اليك, استعد!' | translate}}
    </p>
  </div>

  <div class="no-requests" *ngIf="requests && !requests.length && isFiltering">
    <p>{{'لا يوجد طلبات' | translate}}</p>
  </div>

  <ion-content *ngIf="requests && requests.length">
    <ion-refresher (ionRefresh)="onRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list no-lines margin *ngFor="let request of requests">
      <driver-request [request]="request" (click)="goToRequestPage(request)"></driver-request>
    </ion-list>
  </ion-content>

</ion-content>
