<button ion-item class="user-order" no-lines>
  <ion-avatar>
    <img [src]="fillImgSrc(request.order.product_image)" alt="">
  </ion-avatar>
  <div class="item-info">
    <p>
      <ion-badge color="secondary" *ngIf="request.order.first_item.serial">{{request.order.first_item.serial}}</ion-badge> &nbsp;
      <b>{{request.order.first_item.title}}</b>
    </p>
    <p class="item-status">
      {{request.status == 'delayed'?request.comment:request.status | translate}}
      <span [hidden]="request.status == 'delayed'">{{request.created_at | date:'short'}}</span>
    </p>
  </div>

</button>
