page-forgetpassword {
    .nav-btn {
        position: fixed;
        top: 8px;
        right: 8px;
    }

    .hero {
        background-image:  url(../assets/imgs/moovlogo.png),linear-gradient(45deg, $danger, $primary);
        height: 200px;
        background-position: center;
        background-size: 300px  auto, cover;
        background-repeat: no-repeat
      }

      .holder {
       height: calc(100% - 200px);
       display: flex;
       justify-content: center;
       align-items: center;
       form {
           width: calc(100% - 32px);
           margin-top: -32px;
       }
      }
}
